@model ClienteDTO
@{
    ViewData["Title"] = "Clientes";
}

<div class="text-center">
    <h1 class="display-4">Lista de Clientes - @ViewData["id"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-action="Salvar" method="post">

    <label asp-for="Cpf"></label>
    <input asp-for="Cpf"/>
    
    <label asp-for="NomeCliente"></label>
    <input asp-for="NomeCliente" />
    
    <label asp-for="Telefone"></label>
    <input asp-for="Telefone"/>

    <label asp-for="email"></label>
    <input asp-for="email"/>

    <label asp-for="Apolice"></label>
    <input asp-for="Apolice" />

    <label asp-for="Prime"></label>
    <input asp-for="Prime" />
    
    <button type="submit">Salvar</button>
</form>
