@model CorretorDTO
@{
    ViewData["Title"] = "Corretor";
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<div class="text-center mb-4">
    <h1 class="display-4">Novo Corretor @ViewData["id"]</h1>
</div>

<form asp-action="Salvar" method="post">
     
    <label asp-for="RMCreci"></label>
    <input asp-for="RMCreci"/>
    <span asp-validation-for="RMCreci" class="text-danger"></span>
    
    <label asp-for="NomeCorretor"></label>
    <input asp-for="NomeCorretor" />
    <span asp-validation-for="NomeCorretor" class="text-danger"></span>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
