@using data
@model List<Corretor>
@{
    ViewData["Title"] = "Corretor";
}

<div class="text-center">
    <h1 class="display-4">Corretores Cadastrados</h1>
</div>

<a asp-controller="Corretor" asp-action="Novo">
    <button class="btn btn-primary">Novo Corretor</button>
</a>

<table class="table table-striped mt-4">
    <tr>
        <th>Id</th>
        <th>RMCreci</th>
        <th>Nome Corretor</th>
        <th colspan="2" class="text-center">Ações</th>
                
    </tr>

    @foreach (var corretor in Model)
    {
        <tr>
            <td>@corretor.Id</td>
            <td>@corretor.RMCreci</td>
            <td>@corretor.NomeCorretor</td>            
            <td><a asp-controller="Corretor" asp-action="Editar" asp-route-id=@corretor.Id>
                <button class="btn btn-secondary">Editar</button>
                </a>
            </td>
            <td><a asp-controller="Corretor" asp-action="Apagar" asp-route-id=@corretor.Id>
                <button class="btn btn-danger">Apagar</button>
                </a>
            </td>
        </tr>
    }
</table>
