@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Sistema de Seguros</h1>
    <p>Mais informações <a href="https://www.pier.digital">pagina em construção</a>.</p>
</div>
<img src="img/carro.jpg" alt="imagem principal">
