@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 font-weight-bold text-secondary">Bem-vindo ao Sistema de Seguros</h1>
</div>
<div id="carouselExampleCaptions" class="carousel slide center" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="img/carro2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Venha garantir o seu seguro</h5>
        <p>garantimos a máxima segurança do seu veículo</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="img/carro1.jpg"  class="d-block w-100" alt="..."> 
      <div class="carousel-caption d-none d-md-block">
        <h5>Venha garantir o seu seguro</h5>
        <p>garantimos a máxima segurança do seu veículo</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="img/carro.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Venha garantir o seu seguro</h5>
        <p>garantimos a máxima segurança do seu veículo</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="card-deck mt-4">
  <div class="card">
    <img src="img/carro3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Manutenção Correntiva</h5>
      <p class="card-text">Temos parceria com convessionarias autorizadas para garantir a sua manutenção do seu veiculo de luxo</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Ultima atualização a 3 mins </small>
    </div>
  </div>
  <div class="card">
    <img src="img/carro4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Troca de Peças</h5>
      <p class="card-text">O seu problema com peças acabouu... Trabalhamos com peças impostadas com um preço que cabe no seu bolso</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Ultima atualização a 3 mins</small>
    </div>
  </div>
  <div class="card">
    <img src="img/carro5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">O seu Carro Sempre Novo</h5>
      <p class="card-text">Tenha oportunidade de mudar de seu carro de luxo quando quiseres </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Ultima atualização a 3 mins</small>
    </div>
  </div>
</div>